<section class="section">
    <div class="container">
        <h1 class="title is-1">Admin Panel</h1>
    </div>


    <div class="container box">
        <h2 class="title is-2">Messages</h2>

        <article class="message is-dark" *ngFor="let message of messages">
            <div class="message-header">
                <p>
                    <strong>{{ message.subject }}</strong>
                    <br>
                    <small>{{ message.name }} {{message.email}}</small>
                </p>
            </div>
            <div class="message-body">
                {{ message.message }}
            </div>
        </article>
    </div>

</section>
