<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css">

<section class="section">
    <div class="container">
        <h1 class="title is-1">Admin Panel</h1>
    </div>

    <div class="container tabs">
        <ul>
            <li routerLinkActive="is-active"><a routerLink="/admin/me">Me</a></li>
            <li routerLinkActive="is-active"><a routerLink="/admin/projects">Projects</a></li>
            <li routerLinkActive="is-active"><a routerLink="/admin/experiences">Experience</a></li>
            <li routerLinkActive="is-active"><a routerLink="/admin/message">Messages</a></li>
            <li routerLinkActive="is-active"><a routerLink="/admin/blog-post">Blog</a></li>
        </ul>
    </div>

    <router-outlet></router-outlet>

</section>
