@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat&display=swap');

#wrapper {
    height: 100%;
    width: 100%;

    font-family: Montserrat;
    background-color: #212121;
    color: #FAFAFA;
}

#content {
    width: 80%;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Concert One';
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    text-align: center;
    width: 50%;
    margin: 2px auto 3px auto;
}

hr {
    border-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(to right, #ffd08005, #FF9100, #ffd08005);
    border-radius: 50px;
    height: 5px;
}

section {
    padding: 100px 0 100px 0;

    .element {
        margin-top: 45px;
    }
}
