<div class="container">

    <h2 class="title is-2">Blog Posts</h2>

    <div class="box">
        <h3 class="title is-3">New blog post</h3>
        <form #f="ngForm" (ngSubmit)="newBlogPostSubmit(f)">
            <div class="field">
                <label for="title" class="label">Title</label>
                <div class="control">
                    <input required ngModel #title="ngModel" id="title" name="title" type="text" class="input">
                </div>
                <p class="help"></p>
            </div>

            <div class="field">
                <label for="date" class="label">Date</label>
                <div class="control">
                    <input required ngModel #date="ngModel" id="date" name="date" type="text" class="input">
                </div>
                <p class="help"></p>
            </div>

            <div class="field">
                <label for="content" class="label">Content</label>
                <div class="control">
                    <input required ngModel #content="ngModel" id="content" name="content" type="text" class="input">
                </div>
                <p class="help"></p>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="box">
        <h3 class="title is-3">Blog posts history</h3>

        <div class="buttons are-small">
            <button (click)="loadBlogPosts()" class="button">
                <span class="icon">
                    <i class="fas fa-sync-alt"></i>
                </span>
                <span>Refresh</span>
            </button>
        </div>

        <article class="media" *ngFor="let blogPost of blogPosts">
            <div class="media-content">
                <p class="title is-h6">{{ blogPost.title }}</p>
                <p class="subtitle is-h6">{{ blogPost.date }} </p>

                <p>
                    {{ blogPost.content }}
                </p>
            </div>
            <div class="media-right">
                <button (click)="deleteBlogPost(blogPost._id)" class="delete" aria-label="delete"></button>
            </div>
        </article>
    </div>
</div>
